.root {
  margin-bottom: 10px;
  background-color: var(--secondary-background);
}

.title {
  color: var(--light);
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
