.error {
  padding: 5px 0 10px 10px;
  font-weight: 400;
  line-height: 1.1;
  min-height: 34px;
  text-align: left;
  width: 100%;
  transition: opacity 0.1s, min-height 0.1s;
  font-size: 14px;
  color: var(--error);
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
