.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.paddingBottom {
  padding-bottom: 20px;
}

.label {
  font-size: var(--s14);
  color: var(--light);
  margin-bottom: 5px;
}

.input {
  width: 100%;
}
